.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content {
    
    margin-top: 40px;
    width: 80%;
    height: 200px;
    background:none ;
    display: flex;
    justify-content: center;
  }

  .content p{
      color: white;
      font-weight: bold;
      font-size: 30px;  
      text-align: center;
  }
